
#cadre {
    border-radius: 10px;
    border:1px solid rgb(8, 8, 8);
    margin-right: 1070px;
    margin-left: 15px;
    background-color: rgb(0, 217, 255);
    font-family: cursive;
	
  }
  
 p {
	  
	text-align: center;  
	  
	  
  }