body{
    
}

title{
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

#support-texte_1 {
	background-color: rgba(0, 0, 0, 0.603);
	padding: 0.5% 3% 1% 3%;
	margin: 2% 20% 2% 20%;
}
#neurologie{
	height: 500px;
	width: 750px;
} 